/* 改变主题色变量 */
$--color-primary:rgb(3, 184, 207);

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
@import "./themeColor.scss";

/* 滚动条初始化 */
.el-scrollbar {
    vertical-align: inherit;
    overflow: hidden;
  
    .el-scrollbar__wrap {
      margin-bottom: 0px !important;
      overflow-x: hidden !important;
    }
  }

  

.el-dropdown-menu{
    background-color: $bg;
    border: 1px solid $bg;
   
    .el-dropdown-menu__item--divided{
        border-top: 1px solid rgb(85, 85, 85);
    }
    .el-dropdown-menu__item--divided:before {
        background-color: $bg;
    }
    li{
        color: $c-white;
        &:hover{
            color: $c-white  !important;
            background-color: $c-hover-blue  !important;
        }
    }
    .popper__arrow:after{
        border-bottom-color: $bg!important;
    }

}

.table-c{
    position:absolute; 
    width:100%;
}