$bg: #33485c; //主题背景色
$c-bg: #1f2130; //常规背景色
$c-bg-h: #262a43;
$c-bg-gray: #eaeaea; //灰色

$large-bg:#131529 ;//大屏的背景色
$video-bg:#1D223F ;

$c-common: #ccc; //常规颜色
$c-hover: #5e74be; //字体高亮颜色
$c-hover-bg:rgb(41, 58, 74); //高亮背景
$c-hover-blue: #03b8cf;; //字体高亮颜色
$c-hover-red:#ea644a;

$c-red: #f56c6c;
$c-white: #fff;

$b-common: #33395d; //常规边框颜色

$bg-red-tran: rgba(245, 108, 108, 0.85); //常规红色背景透明度
$bg-ye-tran: rgba(226, 151, 53, 0.85); //常规黄色背景透明度

/* nav */
$nav-a: #ccc;
$nav-a-hover: #5e74be;
$nav-bg: #25325e;

/* sub-nav */
$sub-nav-c: #ccc;
$sub-nav-c-on: #5e74be;

/* focus */
$focus-pic-bg: #262a43;
$focus-border-pic: #5e74be;

/* element-ui */
$ele-c-common: #ccc;
$ele-c-h: #5e74be;

$ele-b-common: #33395d; //常规边框颜色

$ele-c-bg: #1f2130;
$ele-bg-common: #25325e;
$ele-bg-common-h: #2c3d75;
$ele-bg-common-dis: #262a43;
$ele-bg-tree-dis: #23415f;

$ele-c-bg-tran: rgba(31, 33, 48, 0.9);
$ele-bg-common-tran: rgba(37, 50, 94, 0.85);
$ele-bg-common-h-tran: rgba(38, 42, 67, 0.85);
$ele-bg-common-dis-tran: rgba(35, 65, 95, 0.85);
