
 @import '../base.scss';
 @import '../themeColor.scss';

 #app, body, html {
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.br-layout{
    @extend .db;
    @extend .v;
    height: 100%;
    .br-top-title{
        height: 50px;
        background-color: rgb(51, 72, 92);
        .br-logo{
            float: left;
            margin: 10px;
            margin-left: 25px;
            width: 40px;
            height: 32px;
            background: url(../img/layout/logo-3.png) no-repeat top;
            background-size: contain;
        }
        .br-text{
            float: left;
            color: #ffffff;
            font-size: 20px;
            margin-left: 10px;
            margin-top: 14px;

        }
        .br-info{
            @extend .db;
            float: right;
            .el-dropdown-link{
                &:hover{
                    background-color: $c-hover-blue !important;
                }
            }
            
            a{

                text-align: center;
                padding: 13px;
                width: 30px;
                color: #ffffff;
                cursor: pointer;
                
                &:hover{
                    background-color: $c-hover-bg
                }
                &:hover{
                    background-color: $c-hover-blue
                }
                i{
                   
                    font-size: 20px;
                }
                span{
                    position: absolute;
                    display: inline-block;
                    top: 7px;
                    background-color: #ea644a;
                    padding: 3px 7px;
                    font-size: 12px;
                    line-height: 1;
                    border-radius: 9px;
                }
            }
            .user-v{
                height: 50px;
                margin-right: 10px;
                &:hover{
                   
                    background-color: $c-hover-bg
                }
                .user{
                    margin: 7px 12px;
                    width: 35px;
                    height: 35px;
                    background: url(../img/layout/admin.jpg) no-repeat top;
                    background-size: contain;
                    border-radius: 50%;
                }
            }



        }
    }
    .br-buttom{
        @extend .fx1;
        @extend .db;
        .el-menu {
            border-right: solid 0px #e6e6e6;
        }
        .br-top-menu{
            .is-active{
                i,span{
                    color:$c-hover-red !important;
                }
            }
            // width: 200px;
            background-color: #33485c;
            .el-submenu__title{
                height: 50px;
                padding: 0 10px;
                line-height: 50px;
                &:hover{
                    background-color:$c-hover-red !important;
                    i,span{
                        color:$c-white !important;
                    }
                }
                .el-submenu__icon-arrow{
                    display: none;
                }

            }
            .chird{
                .el-submenu__icon-arrow{
                    display: block !important;
                }
            }
            .el-menu-item{
                background-color: rgba(30,30,30,.3) !important;
                &:hover{
                    background-color: rgba(30,30,30,.3) !important;
                }
                &:hover{
                    span, i{
                        color:$c-hover-red !important;
                    }
                    span{
                        font-weight: 500!important;
                    }
                }
            }
            .br-switch{
                text-align: center;
                padding: 5px;
                border-top: 1px solid #555;
                border-bottom: 1px solid #555;
                cursor: pointer;
                &:hover{
                    background-color: $c-hover-bg
                }
                &:hover .iconfont{
                    color: $c-hover-blue
                }
                .iconfont{
                    font-size: 20px;
                    margin-right: 0px;
                    margin-left: 0px;
                    
                }

            }
        
                .iconfont{
                    margin-right: 10px;
                    margin-left: 4px;
                    width: 24px;
                    text-align: center;
                    font-size: 16px;
                    vertical-align: middle;
                }

            i{
                color: #ffffff
            }
            .is-active{
                .el-menu-item{
                    i {
                        color:#ea644a
                    }
                }
            }
        }
    
        .br-content{
            @extend .fx1;
        }

    }
}



.el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 200px;
    min-height: 400px;
  }

  .el-menu--collapse{
      .el-submenu__title{
          span, .el-submenu__icon-arrow{
            display: none;
          }
      }
  }
  .el-menu--vertical{
    span{
        margin-left: 10px;
    }
  }

