@import '@/assets/style/base.scss';
.monitor{
    @extend .db;
    @extend .height100;
    .content{
        overflow: hidden ;
        @extend .fx1;
        @extend .db;
        @extend .v;
        .char{
            @extend .fx1;
            height: 300px;
        }
        .table{
            @extend .fx1;
        }
        .br-tab{
            margin-top: 2px;
        }

    }


    .el-tabs__nav{
        float: right;
    }

}