@import '@/assets/style/base.scss';
.monitor{
    @extend .db;
    @extend .height100;
    .content{
        @extend .height100;
        @extend .fx1;
        @extend .db;
        @extend .v;
        .char{
            // @extend .fx1;
            height: calc(100% - 310px);
        }
        .table{
            height: 200px;
            padding: 10px 0px;
            position: relative;
        }
        .br-tab{
            margin-top: 2px;
        }

    }


    .el-tabs__nav{
        float: right;
    }

}