@import '@/assets/style/base.scss';
.system-map{
    @extend .db;
    @extend .height100;

    .content{
        @extend .height100;
        @extend .fx1;
        @extend .db;
        @extend .v;
        .map{
            @extend .fx1;
        }
        .table{
            height: 270px;
            padding: 10px 0px;
            position:relative;
        }

    }

}